<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>

    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>

    <form action="/create" method="POST">
        <h1>Share your message with the club members</h1>
        <label for="content">Message:</label>
        <textarea name="content" id="content" rows="4" placeholder="Write your message here..." required></textarea>
        <button>Send</button>
        
    </form>
    
    <%- include('../partials/footer') %>
</body>
</html>