<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <% if (error.length > 0) { %>
        <div class="alert alert-warning"><%= error %></div>
    <% } %>

    <%- include('../partials/nav') %>
    <% if (success_msg) { %>
        <div class="alert alert-success"><%= success_msg %></div>
    <% } %>
    <% if (error_msg) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
    <% } %>
    <h1>Please enter your passcode to join <%= club.name %></h1>
    <form action="/joinClub/<%= club.id %>" method="POST">
        <div class="form-group">
            <label for="passcode">Passcode:</label>
            <input type="password" id="passcode" name="passcode" required>
        </div>
        <button>Join</button>
    </form>
    
   
    
    <%- include('../partials/footer') %>
</body>
</html>